extends layout 

block title
  = title 

block content 
  div.flex.flex-col.items-center.m-6.text-xl
    h2.mb-6= title
    form(method="post").flex.flex-col.gap-6.items-center.items-center.w-96
      .flex.flex-col.gap-6.bg-gray-400.p-6.rounded-lg.shadow
        div.flex.flex-col.gap-2
          label(for="name") Name
          input(type="text", id="name", name="name" value=category && category.name)
        div.flex.flex-col.gap-2
          label(for="description") Description
          input(type="text", id="description", name="description" value=category && category.description)
        if category && category.createdAt && category.hoursSinceCreate >= 12
          p Since this category has been created more than 12 hours before, enter the secret password to update it.
          label(for="password") Enter Secret Password
          input(id="password" name="password" type="password")
      if errors
        ul.space-y-3.px-6
          each error of errors
            li.text-red-600= error.msg
      button.rounded.self-center.px-3.py-1.shadow-lg.bg-gray-400 Submit
