extends layout

block title
  ="Inventory"

block content
  div.flex.justify-center
    div.shadow.rounded-lg.m-12.p-6.max-w-lg.text-2xl.text-black.bg-gray-400
      h2.font-medium Welcome to The Inventory
      br
      p 
        span.text-4xl.text.font-medium #{n_items} 
        .
          items
      p
        span.text-4xl.text.font-medium #{n_categories} 
        .
          categories
      br
      p Create and view both items and categories.
      br
      p.
        You can also update or delete items and categories for upto 12 hours
        after creation. Unless you know the secret password...
