extends layout

block title
  ="Inventory"

block content
  p.
    Welcome to the Inventory. Create and view both items and categories. You can
    also update or delete items and categories for upto 12 hours after their
    creation. Unless you know the secret password.
