doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title
      block title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" href="/images/logo.jpg")

  body
    header
      a(href="/home") 
        img(src="/images/logo.jpg", alt="Website logo")
    nav
      ul
        li
          a(href="/categories") All categories 
        li
          a(href="/items") All Items
    div#content
      block content
